images:
  machine-controller-manager: image-repository:image-tag
  machine-controller-manager-equinix-metal: image-repository:image-tag

replicas: 1

podAnnotations: {}

providerName: provider-foo

namespace:
  uid: uuid-of-namespace

metricsPort: 10258
metricsPortEquinixMetal: 10259

vpa:
  enabled: true
  updatePolicy:
    updateMode: "Auto"
